@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .gradient-title {
    @apply font-extrabold bg-gradient-to-br from-blue-500 via-blue-100 to-blue-400 bg-clip-text tracking-tighter text-transparent pr-2 pb-2;
  }
}

@layer base {
  * {
    @apply outline-none;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --radius: 0.625rem;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-border: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
}

.dark {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  --color-border: oklch(1 0 0 / 10%);
  --color-ring: oklch(0.556 0 0);
}

.dotted-background {
  background-color: #0a111f;
  background-image: radial-gradient(#4a5568 1px, transparent 1px);
  background-size: 30px 30px;
}
